<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.moka">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.editor/icons/papyrus/Papyrus_16x16.gif"
               id="org.eclipse.papyrus.views.modelexplorer.popup.moka.fmi"
               label="FMI">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Element">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.moka.fmi">
         <command
               commandId="org.eclipse.papyrus.moka.fmi.ui.handlers.ImportFMUHandlerCommand"
               icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Component.gif"
               id="org.eclipse.papyrus.moka.ui.utils.handlers.ImportFMUMenu"
               label="Import FMU for co-simulation"
               style="push"
               tooltip="Import FMU for co-simulation">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.editor/icons/papyrus/Papyrus_16x16.gif"
               id="org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka.fmi"
               label="FMI">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka.fmi">
         <command
               commandId="org.eclipse.papyrus.moka.fmi.ui.handlers.ExportFMUHandlerCommand"
               icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Component.gif"
               id="org.eclipse.papyrus.moka.fmi.ui.handlers.ExportFMUHandlerMenu"
               label="Export FMU for co-simulation"
               style="push"
               tooltip="Export FMU for co-simulation">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka.fmi">
         <command
               commandId="org.eclipse.papyrus.moka.fmi.ui.handlers.ImportFMUHandlerCommand"
               icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Component.gif"
               id="org.eclipse.papyrus.moka.ui.utils.handlers.ImportFMUMenu"
               label="Import FMU for co-simulation"
               style="push"
               tooltip="Import FMU for co-simulation">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
       <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Import FMU"
            id="org.eclipse.papyrus.moka.fmi.ui.handlers.ImportFMUHandlerCommand"
            name="Import FMU">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.moka.fmi.ui.handlers.ImportFMULibHandler"
            commandId="org.eclipse.papyrus.moka.fmi.ui.handlers.ImportFMUHandlerCommand">
             <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Package">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
      <strategy
            strategy="org.eclipse.papyrus.moka.fmi.ui.dnd.FMUToPartDropStrategy">
      </strategy>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.theme">
      <themeDefinition
            id="org.eclipse.papyrus.moka.fmi.ui.css.theme"
            label="FMI Theme">
      </themeDefinition>
      <themeContribution
            id="org.eclipse.papyrus.moka.fmi.ui.css.theme">
         <stylesheet
               stylesheetPath="css/FMIStyle.css">
         </stylesheet>
      </themeContribution>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            id="org.eclipse.papyrus.moka.fmi.ui.wizards.FMUTutoWizard"
            pageImage="icons/moka_icon.png"
            wizardID="org.eclipse.papyrus.moka.fmi.ui.wizards.FMUTutoWizard">
         <projectDescriptor
               contentURI="platform:/plugin/org.eclipse.papyrus.moka.fmi.ui/models/examples/"
               description="FMU Getting Started"
               name="TutoFMU">
         </projectDescriptor>
         <fileToOpen
               location="platform:/plugin/org.eclipse.papyrus.moka.fmi.ui/models/examples/TutoFMU.di">
         </fileToOpen>
      </example>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
            class="org.eclipse.papyrus.moka.fmi.ui.wizards.FMUTutoWizard"
            finalPerspective="org.eclipse.papyrus.infra.core.perspective"
            icon="icons/moka_icon.png"
            id="org.eclipse.papyrus.moka.fmi.ui.wizards.FMUTutoWizard"
            name="FMU Tutorial Model Example">
      </wizard>
   </extension>

</plugin>
