<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="engine" name="ExecutionEngine" schema="schema/engine.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.papyrus.moka.launch.MokaLaunchDelegate"
            id="org.eclipse.papyrus.moka.launchConfiguration"
            modes="run, debug"
            name="Moka launch configuration">
      </launchConfigurationType>
   </extension>

</plugin>
