<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.fuml.services">
      <services
            class="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.ActiveObjectControllerServicesRegistry">
      </services>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_ACTIVE_OBJECT_CONTROLLER_LIBRARY/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary/model/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Active Object Controller fUML Library"
            name="ActiveObjectControllerModelLibrary"
            path="pathmap://PAPYRUS_ACTIVE_OBJECT_CONTROLLER_LIBRARY/activeObjectControllerLibrary.uml">
      </library>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.ui.ActiveObjectControllerUI"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.papyrus.moka.ui.views.MokaAnimationView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.ui"
            name="Active Object Controller View Category">
      </category>
      <view
            category="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.ui"
            class="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.ui.ActiveObjectControllerUI"
            icon="icons/moka_icon.png"
            id="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.ui.ActiveObjectControllerUI"
            name="Controller View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.command">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
            </activeWhen>
         <class
               class="org.eclipse.papyrus.infra.nattable.common.handlers.CreateNatTableEditorHandler">
            <parameter
                  name="tableType"
                  value="ActiveObjectTable">
            </parameter>
        </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.papyrus.moka.fuml.activeobjectcontrollerlibrary.command"
            icon="icons/uml_generic_table_new.png">
      </image>
   </extension>

</plugin>
