<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--<extension
         point="org.eclipse.papyrus.moka.engine">
      <engine
            class="org.eclipse.papyrus.moka.async.fuml.FUMLMultiThreadExecutionEngine"
            description="PSCS Execution Engine (multi-threaded implementation) "
      >
      </engine>
   </extension>-->
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_MOKA_FUML_ASYNC_TYPES/"
            target="platform:/plugin/org.eclipse.papyrus.moka.async.fuml/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="fUML Asynchronous (Java Threads) Semantics"
            iconpath="resources/icons/moka_icon.png"
            name="fUMLAsyncSemantics"
            path="pathmap://PAPYRUS_MOKA_FUML_ASYNC_TYPES/fUML_Async_Semantics.uml"
            provider="CEA LIST - 2013">
      </library>
   </extension>

</plugin>
