<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.eclipse.papyrus.moka.fuml.validation.category"
            name="Moka fUML / PSCS">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML">
         </package>
         <constraints
               categories="org.eclipse.papyrus.moka.fuml.validation.category">
            <constraint
                  class="org.eclipse.papyrus.moka.fuml.validation.constraints.ActiveClassHasClassifierBehavior_Constraint"
                  id="org.eclipse.papyrus.moka.fuml.validation.constraint.active_class_shall_have_a_classifier_behavior"
                  lang="java"
                  mode="Batch"
                  name="active_class_shall_have_a_classifier_behavior"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  [Moka] {0}
               </message>
               <description>
                  An active class shall have a classifier behavior
               </description>
               <target
                     class="Class">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.moka.fuml.validation.constraints.NonAbstractOperationShallHaveMethod_Constraint"
                  id="org.eclipse.papyrus.moka.fuml.validation.non_abstract_operation_shall_have_method"
                  lang="java"
                  mode="Batch"
                  name="non_abstract_operation_shall_have_method"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  [Moka] {0}
               </message>
               <description>
                  A non-abstract Operation shall have a method
               </description>
               <target
                     class="Operation">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.moka.fuml.validation.constraints.ArgumentAndResultPinsOfCallActions_Constraint"
                  id="org.eclipse.papyrus.moka.fuml.validation.argument_and_result_pins_of_call_actions"
                  lang="java"
                  mode="Batch"
                  name="argument_and_result_pins_of_call_actions"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  [Moka] {0}
               </message>
               <description>
                  Argument / result pins of call actions shall match parameters of invoked Operation/Behavior, or sent Signal
               </description>
               <target
                     class="CallAction">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.moka.fuml.validation.constraints.NoDelegationConnectorOnNonBehaviorPort_Constraint"
                  id="org.eclipse.papyrus.moka.fuml.validation.no_delegation_connectors_on_behavior_port"
                  lang="java"
                  mode="Batch"
                  name="no_delegation_connectors_on_behavior_port"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  [Moka] {0}
               </message>
               <description>
                  Non-behavior ports shall have delegation connectors
               </description>
               <target
                     class="Port">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="org.eclipse.papyrus.moka.fuml.validation.context">
         <selector
               class="org.eclipse.papyrus.moka.fuml.validation.ClientSelector">
         </selector>
      </clientContext>
      <binding
            context="org.eclipse.papyrus.moka.fuml.validation.context">
         <category
               ref="org.eclipse.papyrus.moka.fuml.validation.category">
         </category>
      </binding>
   </extension>

</plugin>
