<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.service.service">
      <service
            class="org.eclipse.papyrus.moka.fmu.engine.control.FMUControlService"
            description="Service to be used by the FMU wrapper to control the lifecycle of Moka (itself executing an FMU)">
      </service>
   </extension>

</plugin>
