<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension 
   		point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.moka">
       		<menu
               icon="platform:/plugin/org.eclipse.papyrus.editor/icons/papyrus/Papyrus_16x16.gif"
               id="org.eclipse.papyrus.views.modelexplorer.popup.moka.utils"
               label="Modeling Utils">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Element">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu> 
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.moka.utils">
       		<command
               commandId="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateFactoryHandlerCommand"
               icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Activity.gif"
               id="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateFactoryHandlerMenu"
               label="Generate Factory"
               style="push"
               tooltip="Generate Factory">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         	</command>
         	<command
                commandId="org.eclipse.papyrus.moka.composites.utils.generatorconstructorusingfieldscommand"
                icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Operation.gif"
                label="Generate Constructor Using Fields"
                style="push"
                tooltip="Generate Constructor Using Fields">
             <visibleWhen
                   checkEnabled="false">
             </visibleWhen>
         	</command>
         	<command
               commandId="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateMethodCommand"
               icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Activity.gif"
               id="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateMethodHandlerMenu"
               label="Generate Method"
               style="push"
               tooltip="Generate Method">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         	</command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.editor/icons/papyrus/Papyrus_16x16.gif"
               id="org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka.utils"
               label="Modeling Utils">
         </menu>
      </menuContribution>
       <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka.utils">
       		<command
               commandId="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateFactoryHandlerCommand"
               icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Activity.gif"
               id="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateFactoryHandlerMenu"
               label="Generate Factory"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         	</command>
         	<command
                commandId="org.eclipse.papyrus.moka.composites.utils.generatorconstructorusingfieldscommand"
                icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Operation.gif"
                label="Generate Constructor Using Fields"
                style="push"
                tooltip="Generate Constructor Using Fields">
             <visibleWhen
                   checkEnabled="false">
             </visibleWhen>
         	</command>
         	<command
               commandId="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateMethodCommand"
               icon="platform:/plugin/org.eclipse.papyrus.uml.icons/resource/gif/Activity.gif"
               id="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateMethodHandlerMenu"
               label="Generate Method"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         	</command>
      </menuContribution>
   </extension>   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Generate Factory"
            id="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateFactoryHandlerCommand"
            name="Generate Factory">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Generate Constructor Using Fields"
            id="org.eclipse.papyrus.moka.composites.utils.generatorconstructorusingfieldscommand"
            name="Generate Constructor Using Fields">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Generate Method"
            id="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateMethodCommand"
            name="Generate Method">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateFactoryHandler"
            commandId="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateFactoryHandlerCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Class">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateConstructorUsingFieldsHandler"
            commandId="org.eclipse.papyrus.moka.composites.utils.generatorconstructorusingfieldscommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Class">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateMethodHandler"
            commandId="org.eclipse.papyrus.moka.composites.utils.handlers.GenerateMethodCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Operation">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   
</plugin>
