<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.engine">
      <engine
            class="org.eclipse.papyrus.moka.fuml.statemachines.StateMachineExecutionEngine"
            description="StateMachines semantics [Prototype]"></engine>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_MOKA_FUML_STATEMACHINES/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fuml.statemachines/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Precise Semantics of UML StateMachines"
            iconpath="resources/icons/moka_icon.png"
            name="StateMachines Semantics"
            path="pathmap://PAPYRUS_MOKA_FUML_STATEMACHINES/UML_StateMachines_Semantics.uml"
            provider="CEA LIST - 2014">
      </library>
   </extension>
    <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="UML StateMachines Test Suite"
            iconpath="resources/icons/moka_icon.png"
            name="StateMachines Test Suite"
            path="pathmap://PAPYRUS_MOKA_FUML_STATEMACHINES/tests/StateMachines_TestSuite.uml"
            provider="CEA LIST - 2014">
      </library>
   </extension>

</plugin>
