<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XYGraph -->
      <package
            uri="http://www.eclipse.org/papyrus/xygraph/model"
            class="org.eclipse.papyrus.moka.xygraph.model.xygraph.XYGraphPackage"
            genModel="model/XYGraph.genmodel"/>
   </extension>

</plugin>
