<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.moka.datavisualization.csv.CSVResourceFactory"
            type="csv">
      </parser>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated datavisualization.profile -->
      <package
            uri="https://www.eclipse.org/papyrus/datavisualization/1.0.0"
            class="org.eclipse.papyrus.moka.datavisualization.profile.VisualizationPackage"
            genModel="profile/datavisualization.profile.genmodel"/>
   </extension>
	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_MOKA_DATA_VISUALIZATION/"
            target="platform:/plugin/org.eclipse.papyrus.moka.datavisualization/profile/">
      </mapping>
   </extension>
   
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.eclipse.papyrus.moka.datavisualization.profile.custom.CustomVisualizationPackageFactory"
            uri="https://www.eclipse.org/papyrus/datavisualization/1.0.0">
      </factory>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://PAPYRUS_MOKA_DATA_VISUALIZATION/datavisualization.profile.uml#_P7FYUACwEeaEKO7reSX3-A"
            uri="https://www.eclipse.org/papyrus/datavisualization/1.0.0">
      </profile>
   </extension>

</plugin>
