<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
      <model
            classname="org.eclipse.papyrus.moka.xygraph.common.model.XYGraphDescriptorModel"
            description="Descriptor of an XYGraph">
      </model>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.papyrus.moka.xygraph.model.xygraph.XYGraphDescriptor"
            class="org.eclipse.papyrus.moka.xygraph.common.adapter.XYGraphAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.IOpenable">
         </adapter>
      </factory>
   </extension>

</plugin>
