<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.papyrus.infra.nattable.configuration">
    <configuration
          file="config/instancespecification.nattableconfiguration"
          type="InstanceSpecificationTable">
    </configuration>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.nattable.tester">
    <tester
          class="org.eclipse.papyrus.moka.ui.table.instancespecification.InstanceSpecificationTableTester"
          id="org.eclipse.papyrus.moka.ui.table.instancespecification.InstanceSpecificationTableTester">
    </tester>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.nattable.axismanager">
    <axisManager
          id="org.eclipse.papyrus.moka.ui.table.instancespecification.InstanceSpecificationRowAxisManager"
          manager="org.eclipse.papyrus.moka.ui.table.instancespecification.InstanceSpecificationRowAxisManager">
    </axisManager>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.architecture.models">
    <model
          path="config/uml.architecture">
    </model>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
    <cellAxisConfiguration
          class="org.eclipse.papyrus.moka.ui.table.instancespecification.InstanceSpecCellAxisConfiguration"
          order="1">
    </cellAxisConfiguration>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.nattable.cellmanager">
    <cellManager
          id="org.eclipse.papyrus.moka.ui.table.instancespecification.cellManager"
          manager="org.eclipse.papyrus.moka.ui.table.instancespecification.InstanceSpecificationTableCellManager"
          order="1">
    </cellManager>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
    <labelProvider
          priority="1"
          provider="org.eclipse.papyrus.moka.ui.table.instancespecification.InstanceSpecificationTableHeaderLabelProvider">
       <labelProviderContext
             context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
       </labelProviderContext>
    </labelProvider>
 </extension>
 <!--extension
       point="org.eclipse.papyrus.infra.nattable.cellmanager">
    <cellManager
          id="com.cea.phisystem.blocks.parameters.table.PropertyWithDefaultValueCellManager"
          manager="com.cea.phisystem.blocks.parameters.table.PropertyWithDefaultValueCellManager"
          order="0">
    </cellManager>
 </extension-->
</plugin>
