<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="animator" name="Animator" schema="schema/animator.exsd"/>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.markertopseudoselectormappingprovider">
      <provider
            class="org.eclipse.papyrus.moka.animation.css.AnimationPseudoSelectorMappingProvider">
      </provider>
   </extension>
   <extension
         id="org.eclipse.papyrus.moka.animation.suspendedmarker"
         name="SUSPENDED MARKER"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.papyrus.modelmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.papyrus.moka.animation.animatedmarker"
         name="ANIMATED MARKER"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.papyrus.modelmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.papyrus.moka.animation.visitedmarker"
         name="VISITED MARKER"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.papyrus.modelmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrus.moka.ui"
            class="org.eclipse.papyrus.moka.animation.presentation.control.AnimationControlView"
            icon="icons/moka_icon.png"
            id="org.eclipse.papyrus.moka.animation.presentation.control.controlview"
            name="Animation Observation Control"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.papyrus.moka.service.service">
      <service
            class="org.eclipse.papyrus.moka.animation.engine.AnimationService"
            description="Moka Animation Service">
      </service>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.userAgentStyleSheet">
      <stylesheet
            stylesheetPath="theme/defaultAnimationTheme.css">
      </stylesheet>
   </extension>
   <extension
         point="org.eclipse.papyrus.moka.animation.animator">
      <animator
            class="org.eclipse.papyrus.moka.animation.engine.animators.StateMachineAnimator"
            priority="0">
      </animator>
      <animator
            class="org.eclipse.papyrus.moka.animation.engine.animators.ActivityAnimator"
            priority="0">
      </animator>
      <animator
            class="org.eclipse.papyrus.moka.animation.engine.animators.StructuralAnimator"
            priority="0">
      </animator>
   </extension>

</plugin>
