<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.engine">
      <engine
            class="org.eclipse.papyrus.moka.composites.CompositeStructuresExecutionEngine"
            description="PSCS Execution Engine (single-threaded implementation)"
      >
      </engine>
   </extension>

</plugin>
