<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.service.service">
      <service
            class="org.eclipse.papyrus.moka.debug.engine.DebugService"
            description="Moka Debug Service">
      </service>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.papyrus.moka.debug.breakpoint.MokaBreakpoint"
            id="org.eclipse.papyrus.moka.debug.breakpoint"
            markerType="org.eclipse.papyrus.moka.debug.breakpointmarker">
      </breakpoint>
   </extension>
   <extension
         id="org.eclipse.papyrus.moka.debug.breakpointmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.papyrus.moka.debug.model.data.presentations.MokaDebugModelPresentation"
            id="org.eclipse.papyrus.moka.debug.mokaModelPresentation">
      </debugModelPresentation>
   </extension>

</plugin>
