Port  {
	maskLabel : name;
	fontHeight:9.0;
	fontColor: #00000;
	bold:true;			
	fontName:"Segoe UI";
	transparency:0.0;
	gradient:#FFFFFF vertical;
	lineColor:#000000;	
	elementIcon:false;
	gradient:none;
	portPosition :"online";		
	
}
Port > Label{
	textAlignment:center;
}
Port[direction="in"] {
	fillColor:#A6C198;	
}
Port[direction="out"] {
	fillColor:#E3A49C;
}


Property  {
	maskLabel: name;
	bold:true;
	fontHeight:12.0;
	fontName:"Segoe UI";
	fillColor:#9BC7CC;
	transparency:0.0;
	gradient:#FFFFFF vertical;
	lineColor:#000000;
	elementIcon:false;
	gradient:none;
	maintainSymbolRatio: true;	
	
}

/* hide stereotype label, ex: "block"*/ 
Label[kind=StereotypeLabel] {
	visible: false;
	depth:full;	
}



/* hide connector stereotype label*/
Label[type="Connector_StereotypeLabel"] {
	visible: false;	
}

/* hide connector name label*/
Label[type="Connector_NameLabel"] {
	visible: false;	
}

/* hide connector multiplicity label1*/
Label[type="Connector_SourceMultiplicityLabel"] {
	visible: false;	
}


/* hide connector multiplicity label2*/
Label[type="Connector_TargetMultiplicityLabel"] {
	visible: false;	
}


Connector {
	routing: Rectilinear;
	roundedBendpointsRadius : 12;
	smoothness : none;
}