<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <configuration
            file="/org.eclipse.papyrus.moka.simex/config/simex.configuration"
            priority="100">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.policycheckerlistener">
      <policycheckerlistener
            listenerClass="org.eclipse.papyrus.moka.simex.viewpoint.SimexViewpointListener">
      </policycheckerlistener>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.ActivityToCallBehaviorActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.AssociationToClearAssociationActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.SignalToSendSignalActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.SignalToBroadcastActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.SignalToAcceptEventActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.PropertyToReadStructuralFeatureActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.PropertyToClearStructuralFeatureActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.PropertyToAddStructuralFeatureValueActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.OperationToCallOperationActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.OperationToAcceptCallActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.ClassifierToUnmarshallActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.ClassifierToReadIsClassifiedObjectActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.ClassifierToReadExtentActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.ClassifierToCreateObjectActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.BehaviorToReduceActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.BehaviorToCallBehaviorActionStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.AssociationToReadLinkAction">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.AssociationToDestroyLinkAction">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.moka.simex.dnd.strategy.AssociationToCreateLinkAction">
      </strategy>
   </extension>

</plugin>
