<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.eclipse.papyrus.moka.fmu.rcpapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.papyrus.moka.fmu.rcp.FMURCPApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.papyrus.moka.fmu.rcpapplication"
            name="fmu rcp product">
         <property
               name="appName"
               value="fmu rcp product">
         </property>
      </product>
   </extension>

</plugin>
