<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_MOKA_EXTRAS_FMI2_LIBRARY/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fmi.master/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.moka.fuml.services">
      <services
            class="org.eclipse.papyrus.moka.fmi.master.masterproxy.Master2ProxyServiceRegistery"></services>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_MOKA_EXTRAS_FMI2_MASTER/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fmi.master/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Moka  library to access to FMI2.0 Master API"
            name="Fmi2Master"
            path="pathmap://PAPYRUS_MOKA_EXTRAS_FMI2_MASTER/master2Proxy.uml">
      </library>
   </extension>
   
      <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://FMI_MASTER_LIBRARY/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fmi.master/resources/">
      </mapping>


   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Model containing a default FMU master implementation"
            name="FMI Default Master Library"
            path="pathmap://FMI_MASTER_LIBRARY/master.uml">
      </library>
</extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="template/SimpleMasterTemplate.di"
            file="template/SimpleMasterTemplate.uml"
            id="org.eclipse.papyrus.moka.fmi.master.simpletemplate"
            language="org.eclipse.papyrus.infra.services.edit.TypeContext"
            name="FMI simulator with Simple Master"
            notation_file="template/SimpleMasterTemplate.notation">
      </template>
   </extension>
</plugin>
