<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="FMI 2.0 UML notation"
            iconpath="icons/FMI_32x32.png"
            name="FMI 2.0 Profile"
            path="pathmap://PAPYRUS_FMI_PROFILE/FMI.profile.uml">
      </profile>
   </extension>

</plugin>
