Package{
	bold: true;
	qualifiedNameDepth: full;
}

Class > Compartment[kind="nestedclassifiers"] {
    visible:false;
}

[appliedStereotypes~="Metaclass"]{
	bold: true;
	fillColor: lightgrey;
}

Class{
	bold: true;
	fillColor: beige;
}

Class > Property{
	bold: true;
    fontColor: blue;
}

Operation{
	maskLabel: name,
	return multiplicity,
	return type,
	parametersdirection,
	parametersmultiplicity,
	parameterstype,
	visibility;
}

Model {
	bold: true;
	fillColor: beige;
	gradient: white;
}

Comment{
	fillColor: lightblue;
	gradient: none;
	fontColor: black;
	bold: true;
}