<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FMI.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/FMIProfile/1.0.0"
            class="org.eclipse.papyrus.moka.fmi.fmiprofile.FMIProfilePackage"
            genModel="model/FMI.profile.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://PAPYRUS_FMI_PROFILE/FMI.profile.uml#__Ki3oKvFEeSXqKqlHzx1gA"
            uri="http://www.eclipse.org/papyrus/FMIProfile/1.0.0">
      </profile>
   </extension>
   
 <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_FMI_PROFILE/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fmi.profile/model/">
      </mapping>
   </extension>
 <extension
       point="org.eclipse.emf.ecore.factory_override">
    <factory
          class="org.eclipse.papyrus.moka.fmi.profile.custom.CustomFMIProfileFactory"
          uri="http://www.eclipse.org/papyrus/FMIProfile/1.0.0">
    </factory>
 </extension>
</plugin>
