<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Assert Library"
         point="org.eclipse.papyrus.moka.fuml.library">
      <library
            class="org.eclipse.papyrus.moka.fuml.assertionlibrary.AssertionLibraryRegistery"></library>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_ASSERTION_LIBRARY/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fuml.assertionlibrary/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Assertions specified with fUML"
            name="AssertionLibrary"
            path="pathmap://PAPYRUS_ASSERTION_LIBRARY/AssertionLibrary.uml"
            provider="CEA LIST">
      </library>
   </extension>

</plugin>
